.advantages {
  .advantages-row {
    padding-top: 50px;
  }

  .advantages-text {
    font-size: 1.8rem;
    font-family: $font-bold;
    line-height: 26px;
    color: $color-white;
    z-index: 2;
  }

  .advantages-left,
  .advantages-right {
    flex-basis: 60%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 70px;
    position: relative;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: darken;

  }

  .advantages-left {
    background-image: url(assets/img/garden.png);
    display: flex;
    align-items: flex-end;
  }

  .advantages-right {
    flex-basis: 40%;
    background-image: url(assets/img/garden3.png);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .white-btn {
    min-width: 230px;
    color: $color-white;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: $font-bold;
  }

  .btn-link {
    padding: 12px 25px;
    display: block;
    border: 2px solid $color-white;
    border-radius: 36px;
    transition: $transition;

    &:hover {
      background: $color-orange;
      opacity: 0.7;
    }
  }

  .left-wrap {
    padding-right: 10px;
    flex-basis: 40%;
    height: 600px;
  }

  .right-wrap {
    padding-left: 10px;
    flex-basis: 60%;
    height: 600px;
  }

  .advantages-row-bottom {
    padding-top: 20px;
  }

  .advantages-bottom-left,
  .advantages-bottom-right {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 70px;
    position: relative;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    .advantages-text {
      padding-bottom: 20px;
    }
  }

  .advantages-bottom-left {
    background-image: url(assets/img/enter2.png);
  }

  .advantages-bottom-right {
    background-image: url(assets/img/table.png);
  }
}