.apartments {
  padding-top: 20px;

  .apart-item {
    align-items: baseline;
    padding-bottom: 30px;
  }

  .apart-item-bphoto {
    flex-basis: 60%;
    position: relative;
  }

  .apart-item-sphoto {
    flex-basis: 40%;
  }

  .apart-sphoto {
    width: 100%;
  }

  .apart-item-decsr {
    position: absolute;
    top: 0;
    right: -275px;
    padding: 70px 46px;
    padding-top: 40px;
    background: $color-backgr-2;
    min-width: 380px;
    min-height: 416px;
  }

  .odd-block {
    right: calc(100% - 105px);
  }

  .apart-number {
    color: $color-orange;
    font-size: 7.5rem;
    font-family: $font-playfair;
    padding-bottom: 40px;
  }

  .apart-text {
    font-size: 1.8rem;
    font-family: $font-bold;
    padding-bottom: 20px;
  }

  .apart-title {
    font-size: 2.2rem;
    font-family: $font-playfair-bold;
    text-transform: uppercase;
    padding-bottom: 105px;
  }

  .apart-link {
    color: $color-orange;
    font-size: 1.6rem;
    padding-right: 15px;
    position: relative;
    transition: $transition;

    &:before {
      content: url(assets/static/arrowright.png);
      position: absolute;
      right: 0;
      bottom: 1px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $color-orange;
      transform: scaleX(0);
      transform-origin: center;
      transition: $transition;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }
}