footer {
  .footer-bottom {
    width: 100%;
    height: 40px;
    background: linear-gradient(158.5deg, #AB6C02 4.67%, #7D4E09 129.9%);

  }

  iframe {
    flex-basis: 50%;
  }

  .contacts-wrap {
    flex-basis: 50%;
    background: url(assets/img/enter.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .contacts {
    position: absolute;
    top: 68px;
    left: 85px;
    color: $color-white;
    font-size: 1.8rem;
    font-family: $font-bold;
    background: rgba(20, 13, 3, 0.7);
    min-height: 296px;
    max-width: 480px;
    padding: 30px;
  }

  .writetomail {
    font-size: 1.4rem;
    font-family: $font-family;
    padding-top: 40px;
    padding-bottom: 15px;
  }

  .contact-city {
    padding-right: 20px;
    position: relative;
    padding-left: 25px;
  }

  .icon-adress {
    position: absolute;
    bottom: 0;
    left: 0px;
    font-size: 2.5rem;
  }

  .contact-phone-link {
    display: block;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    transition: $transition;

    &:hover {
      color: $color-orange;
      fill: $color-orange;
    }

    &:hover .icon {
      fill: $color-orange;
    }
  }

  .icon-phone {
    position: absolute;
    bottom: 0;
    left: 0px;
    font-size: 2.5rem;
    transition: $transition;
  }

  .contact-mail {
    padding-bottom: 30px;
  }

  .mail-link {
    position: relative;
    padding-left: 35px;
    transition: $transition;

    &:hover {
      color: $color-orange;
      fill: $color-orange;
    }

    &:hover .icon {
      fill: $color-orange;
    }
  }

  .icon-mail {
    position: absolute;
    bottom: 0;
    left: 0px;
    font-size: 2.5rem;
    transition:$transition;
  }

  .icon-facebook {
    margin-right: 30px;
    font-size: 4.5rem;
    transition:$transition;
    &:hover{
      fill:$color-orange;
    }
  }

  .icon-instagram {
    font-size: 4.5rem;
    transition:$transition;
    &:hover{
      fill:$color-orange;
    }
  }
}