header {
  width: 100%;

  .top-header-wrap {
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .topheader {
    justify-content: space-between;
    padding-top: 5px;
    color: $color-gray;
    animation: animwhite 1s linear both;
    animation-delay: 4.1s;
  }

  .menu-block-top {
    padding-bottom: 30px;
    font-size: 1.8rem;
  }

  .logo {
    max-width: 139px;
    padding-top: 27px;
  }


  .lang {
    padding-right: 84px;
  }

  .lang-ul {
    cursor: pointer;
  }

  .lang-ul-sub {
    position: absolute;
    top: 130%;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: $transition;
  }

  .lang-li {
    font-size: 1.8rem;
    text-transform: uppercase;
    position: relative;

    &:hover .lang-ul-sub {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  .icon-arrowdown,
  .icon-phone,
  .icon-adress {
    font-size: 1.5rem;
    vertical-align: bottom;
    fill: $color-gray;
    animation: animwhite 1s linear both;
    animation-delay: 4.1s;
  }

  .adress-text {
    position: relative;
  }

  .icon-adress {
    position: absolute;
    left: -22px;
    bottom: -5px;
    font-size: 2.5rem;
    fill: $color-gray;
  }

  .icon-phone {
    font-size: 2.5rem;
    position: absolute;
    left: -6px;
    bottom: 0;
    fill: $color-gray;
  }

  .city {
    padding-right: 20px;
    position: relative;
  }

  .navbar {
    font-size: 1.6rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background: $color-orange;
    }
  }

  .navbar-ul {
    display: flex;
    justify-content: space-between;
  }

  .navbar-li {
    margin-right: 48px;
    position: relative;

    &:last-of-type {
      padding-right: 0;
    }

    &:first-of-type:hover .dropmenu {
      visibility: visible;
      opacity: 1;
    }
  }

  .dropmenu {
    position: absolute;
    bottom: -87px;
    left: 0;
    min-width: 130px;
    padding-top: 23px;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
  }

  .navbar-link {
    transition: $transition;
    font-size: 1.6rem;
    font-family: $font-semiBold;

    &:hover {
      color: $color-orange;
    }


  }

  .drop-li {
    list-style: disc;
    list-style-position: inside;
    transition: $transition;
    padding-bottom: 15px;

    &:hover {
      color: $color-orange;
    }
  }

  .drop-link {
    font-size: 1.4rem;
  }

  .phone-text {
    font-size: 1.8rem;
    font-family: $font-bold;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $color-orange;
      transform: scaleX(0);
      transform-origin: center;
      transition: $transition;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }

  .icon-phone {
    transition: $transition;
  }

  .phone-link {
    position: relative;
    padding-left: 23px;
    transition: $transition;

  }

  .booking {
    padding-top: 30px;
  }

  .booking-link {
    min-width: 170px;
    padding: 11px;
    color: $color-white;
    font-size: 1.6rem;
    display: block;
  }

  .slider-wrap {
    height: 100vh;
  }

  .slider-item {
    position: relative;
    height: calc(100vh - 100px);
  }

  .slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: firstSlide 5s linear both;
  }

  .main-text {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    animation: animate1 4s linear both;
  }

  .letter-wrap {
    animation: animateLetters 2s linear both;
    opacity: 0;

    &:nth-of-type(1) {
      animation-delay: 1.3s;
    }

    &:nth-of-type(2) {
      animation-delay: 1.6s;
    }

    &:nth-of-type(3) {
      animation-delay: 1.9s;
    }

    &:nth-of-type(4) {
      animation-delay: 2.2s;
    }

    &:nth-of-type(5) {
      animation-delay: 2.5s;
    }

  }

  .sub-text {
    display: flex;
    justify-content: space-between;
    max-width: 352px;
    width: 100%;
    margin: 0 auto;
  }

  .slider-photo {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background-image: url(assets/img/slide1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: secondSlide 4s linear both;
    animation-delay: 4.1s;
  }

  .slider-photo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    color: $color-white;
    width: 100%;
    text-align: right;

  }

  .slider-photo-title {
    font-size: 7.2rem;
    font-family: $font-playfair;
    padding-bottom: 20px;
    transform: translateX(250%);
    animation: textright 2s linear both;
    animation-delay: 4.5s;
  }

  .slider-photo-descr {
    font-size: 2.4rem;
    font-family: $font-italic;
    padding-bottom: 30px;
    transform: translateX(250%);
    animation: textright 2s linear both;
    animation-delay: 5s;
  }

  .slider-photo-link {
    font-size: 1.4rem;
    transform: translateX(250%);
    animation: textright 2s linear both;
    animation-delay: 5.5s;
  }

  .inner-link {
    &:hover {
      color: $color-orange;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .dotscustom {
    width: 4px;
    height: 4px;
    background: $color-gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  .slick-active {
    .dotscustom {
      width: 10px;
      height: 10px;
      padding: 3px;
      position: relative;
      background: $color-orange;
    }
  }

  .first-title {
    padding-top: 30px;
    padding-bottom: 30px;
    animation: alex 1.5s linear both;
    animation-delay: 7.5s;
  }
}