.more-services {
  padding-bottom: 60px;

  .title-orange {
    color: $color-orange;
    font-family: $font-playfair-bold;
    text-transform: uppercase;
    padding: 27px 0;
  }

  .icon {
    font-size: 5.2rem;
  }

  .services-item {
    text-align: center;
    padding-top: 50px;
    max-width: 320px;
    flex-basis: 33%;
  }

  .services-descr {
    line-height: 24px;
  }

  .row-services {
    justify-content: space-between;
  }
}