.order {
  background: $color-white;
  padding-top: 60px;

  .form-wrap {
    padding-top: 50px;
    padding-bottom: 117px;
  }

  .order-form {
    justify-content: space-between;
  }

  .label-date-out {
    // padding: 10px;
  }

  .submit-btn {
    font-size: 1.8rem;
    color: $color-white;
    font-family: $font-bold;
    padding: 15px 30px;
    transition: $transition;
    align-self: flex-end;

    &:hover {
      color: $color-orange;
    }
  }

  input,
  select {
    border: 1px solid $color-orange;
    border-radius: 2px;
    padding: 12px 25px;
  }

  input {
    min-width: 270px;
    position: relative;

    &:after {
      content: url(assets/static/calendar.svg);
      position: absolute;
      right: 10px;
    }
  }

  label {
    padding-bottom: 5px;
    color: #828282;
  }

  .input-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}