.reviews {
  padding-top: 70px;
  padding-bottom: 80px;
  background-image: url(assets/static/sliderback.png);
  background-position: bottom;
  background-repeat: repeat-x;

  .booking-wrap {
    padding-top: 30px;
    text-align: center;
  }

  .slide-wrap {
    flex-basis: 33%;
    padding: 0 15px;
  }

  .rslider {
    background: $color-white;
    color: $color-black;
    border-radius: 4px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    padding: 30px;
    max-height: 310px;
    height: 310px;
    overflow: hidden;
  }

  .rslider-top-row {
    position: relative;
  }

  .review-descr,
  .order-number {
    font-family: $font-italic;
    line-height: 22px;
  }

  .review-descr {
    padding-bottom: 20px;
    padding-top: 27px;
  }

  .rslider-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .rslider-name {
    padding-left: 18px;
  }

  .name-review {
    font-size: 1.8rem;
    font-family: $font-bold;
    padding-bottom: 15px;
  }

  .city-review {
    font-size: 1.4rem;
    display: flex;
  }

  .flag {
    margin-right: 5px;
  }

  .order-number-link {
    color: $color-blue;
  }

  .rslider-point {
    background: $color-blue;
    color: $color-white;
    border-radius: 12px 12px 12px 0px;
    padding: 11px 8px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.8rem;
    font-family: $font-bold;
  }
}