@keyframes animate1 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 100%;
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateLetters {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

@keyframes firstSlide {
  0% {
    opacity: 1;
    z-index: 1;
  }

  75% {
    opacity: 1;
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes secondSlide {
  0% {
    opacity: 0;
    z-index: -1;
    transform: scale(1.2);
  }

  50% {
    opacity: 1;
    z-index: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }

}

@keyframes textright {
  0% {
    transform: translateX(250%);
  }

  25% {
    transform: translateX(150%);
  }

  50% {
    transform: translateX(50%);
  }

  75% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes alex {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100%;
  }

}

@keyframes animwhite {
  0% {}

  100% {
    color: $color-white;
    fill: #ffffff;
  }
}