* {
  box-sizing: border-box;
  outline: none !important;
}

html {
  font-size: 10px;
  font-family: $font-family;
  color: $color-black;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background: $color-backgr;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 4.8rem;
  font-family: $font-playfair;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    width: 302px;
    height: 2px;
    background: $color-black;
    border-radius: 50%;
  }
}


.title {
  font-size: 2.2rem;
  font-family: $font-bold;
}

.descr {
  font-size: 1.6rem;
  color: $color-black;

}

.row-center {
  justify-content: center;
}

.next {
  position: absolute;
  right: -30px;
  top: 40px;
  cursor: pointer;
}

.prev {
  position: absolute;
  left: -30px;
  top: 40px;
  cursor: pointer;
}