.btn {
  cursor: pointer;
  background: $color-btn;
  border-radius: 36px;
  text-align: center;
  border: 1px solid $color-orange;
  transition: $transition;

  &:hover {
    background: $color-white;
    color: $color-orange;
  }
}