.site-width {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // margin-right: -15px;
  // margin-left: -15px;

  &-reverse {
    flex-direction: row-reverse;
  }
}

.my-col {
  max-width: 100%;
  min-height: 1px;
  // padding-right: 15px;
  // padding-left: 15px;

  @include menu-tablet {
    padding: 0 5px;
  }
}