.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: $svgColor;
}

.icon-adress {
	font-size:(13/10)*1rem;
	width:(10/13)*1em;
}
.icon-arrowdown {
	font-size:(5/10)*1rem;
	width:(9/5)*1em;
}
.icon-car {
	font-size:(51/10)*1rem;
	width:(51/51)*1em;
}
.icon-desk {
	font-size:(51/10)*1rem;
	width:(51/51)*1em;
}
.icon-dish {
	font-size:(51/10)*1rem;
	width:(52/51)*1em;
}
.icon-facebook {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-group {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-instagram {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-mail {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-phone {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
.icon-shirt {
	font-size:(63/10)*1rem;
	width:(64/63)*1em;
}
.icon-spa {
	font-size:(65/10)*1rem;
	width:(60/65)*1em;
}
.icon-wifi {
	font-size:(51/10)*1rem;
	width:(51/51)*1em;
}
