$color-white: #ffffff;
$color-backgr:#E5E5E5;
$color-backgr-2: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100.48%);
$color-black: #161616;
$color-gray: #4f4f4f;
$color-orange: #AB6C02;
$color-btn:linear-gradient(101.55deg, #AB6C02 4.67%, #7D4E09 129.9%);
$color-blue: #1E3E79;
$svgColor:$color-white;

$transition: all 0.3s linear;

$box-shadow:5px 10px 20px rgba(35, 35, 35, 0.1);

$font-family:'OpenSans',
sans-serif;
$font-bold:'OpenSansBold',
sans-serif;
$font-italic:'OpenSansItalic',
sans-serif;
$font-semiBold:'OpenSansSemiBold',
sans-serif;
$font-playfair:'PlayfairDisplay',
sans-serif;
$font-playfair-bold:'PlayfairDisplayBold',
sans-serif;